
body {
	padding: 0px; 
	font-family: arial, verdana, sans-serif;
	font-size: 70%;
	font-weight: normal; 
	text-decoration: none;
    color: #000000;
    background-image: url(../images/background.jpg);
    background-repeat: repeat-x;
    background-color: #ffffff;
    margin-top: 4px;
    position: static;
}

h1 { font-family: Arial; font-style: Normal; font-size: 20pt;
     text-align: Center; }

h2 { font-family: Arial; font-weight: Bold;  font-style: Normal;
     font-size: 14pt; text-align: Center; }

h3 { font-family: Arial; font-style: Normal; text-align: Left;
     margin-left: 10px; font-size: 12pt; }

ul { font-family: Arial; font-style: Normal; font-size: 11pt;
     margin-left: 50px; margin-right: 50px; }

ol { margin-left: 50px; margin-right: 50px; }

img {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

p {
	padding: 0px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1.4em;
}

form {
	margin: 0px;
	padding: 0px;
}

input, select {
	font-size: 1.0em;
}

td {
    vertical-align:top;
}

a:link {text-decoration:none; color:#1A5D91;}
a:visited {text-decoration:none; color:#1A5D91;}
a:hover {text-decoration:underline; color:#d56b39;}
a:active {text-decoration:none; color:#1A5D91;}

#footer a:link {text-decoration:none; color:#ffffff;}
#footer a:visited {text-decoration:none; color:#ffffff;}
#footer a:hover {text-decoration:underline; color:#ffffff;}
#footer a:active {text-decoration:underline; color:#ffffff;}

th{
	text-align:left;
	font-weight:normal;
}

#mainbody {
	padding: 0px 0px 0px 0px;
	text-align:left;
	border: 1px solid #1A5D91;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;	
}

#header {
	position: relative;
	margin: 4px;
	padding: 0px;
	height: 116px;
	text-align: left
}

#date {
	position:absolute;
	margin: 0px;
	padding: 0px;
	top: 12px;
	right: 12px;
	text-align: right;
	font-size: 1.2em;
	color:#000000;
}

#bannertext {
	position:absolute;
	width: 600px;
	margin: 0px;
	top: 85px;
	right: 12px;
	text-align: right;
	font-size: 1.6em;
	font-style: oblique;
	color:#1a5d91;
}

#footer {
	position: relative;
	clear: both;
	margin-top: 0px;
	padding: 7px 0px 0px 0px;
	height: 36px;
	background-color:#1A5D91;
	text-align:center;
	font-size: 1.0em;
	font-weight: bold;
	color: #FFFFFF;
}

#copyright {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	text-align:center;
	font-size: 1.0em;
	color: #000000;
}

#navbody {position:relative;margin-top:48px;margin-left:0px;margin-bottom:0px;width:600px;}

ul#navmenu {position:absolute;bottom:-1px;margin-left:4px;width:790px;text-align:left;padding-left:0px;}

ul#navmenu li {display:inline;list-style:none;}

ul#navmenu a {display:block;float:left;font-weight:800;font-size:1.1em;
font-stretch:condensed;text-transform:uppercase;text-decoration:none;color:#1A5D91;
margin:2px 2px;padding:6px 6px 5px 6px;border-bottom:none;}

ul#navmenu a.active {background-color:#D9E7F0;border:1px solid #9FC5DC;
border-bottom:none;padding:7px 9px 8px 9px;margin:0px;margin-bottom:0px;
font-weight:800;background-color:#d9e7f0;}

ul#navmenu li a:hover {color:#cc6600;}

ul#navmenu li img {float:left;vertical-align:middle;left:4px;margin-top:8px;margin-right:3px;}

ul#navmenu a span {display:none;}

ul#navmenu li a:hover span {display:block;position:absolute;z-index:99;top:10px;left:40px;}

#navborder {
        border:#9dc4de 1px solid;
        clear:both;
        background-color:#d8e7f0;
        padding-top:6px;
        border-bottom:2px solid #5a8ab0;
        width:auto;
        margin-left: 4px;
        margin-right: 4px;
}
